#DATABASE_URL="postgresql://VOTRE_UTILISATEUR:VOTRE_MOT_DE_PASSE@localhost:5432/fishkeeper_local?schema=public"

# si utilisation de sqlite: remplacer le bloc de schema.prisme par 
#datasource db {
#  provider = "sqlite"
#  url      = env("DATABASE_URL")
#}
#sinon garder celui la 
#datasource db {
#  provider = "postgresql"
#}

DATABASE_URL="file:./dev.db"